/*---------------------------------general---------------------------------*/
html {
  font-size: 12px;
}

body {
  max-width: 1020px;
  margin: 0 auto;

  background-color: gray;
}

h1,
h2 {
  font-size: inherit;
}

p {
  margin: 0;
}

/*---------------------------------main---------------------------------*/
.section-title {
  margin: 28px 0 15px 0;

  font-weight: 900;
  font-size: 2.5rem;
  line-height: 0.595;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #666d89;
  letter-spacing: -0.2px;
}

.section-description {
  margin: 28px 0 5px 0;

  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.667;
  font-family: "Lato", "Arial", sans-serif;
  color: #6c7491;
}

.column-title {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 0.992;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #666d89;
  letter-spacing: -0.15px;
}

.column-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.797;
  font-family: "Lato", "Arial Black", sans-serif;
  text-align: justify;
  color: #767e9e;
}

/*---------------------------------main__portfolio---------------------------------*/
.portfolio {
  height: 870px;
}

.portfolio__top {
  height: 864px;

  background-color: #2d303a;
}

.portfolio__bottom {
  height: 6px;

  background-color: #323746;
}

.portfolio__title {
  margin-left: 40px;
  padding-top: 41px;
}


.portfolio__description,
.portfolio__nav {
  margin-left: 40px;
}

.portfolio-nav {
  display: flex;
  margin: 11px 0 0 2px;
  padding: 0;

  list-style-type: none;
}

.portfolio-nav__item {
  display: flex;
  margin-right: 10px;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
  font-family: "Lato";
  color: #6c7491;
}

.portfolio-nav__link {
  padding: 0 6px;

  color: #6c7491;
  text-decoration: none;
  letter-spacing: -0.06px;

  border: 1px solid #6c7491;
  border-radius: 5px;
}

.portfolio-nav__link:hover {
  color: #ffffff;

  border: 1px solid #ffffff;
}

/*---------------------------------main__portfolio__gallery---------------------------------*/
.portfolio__gallery {
  display: flex;
  margin: 1px 0 0 30px;
}

.gallery__column {
  max-height: 621px;
  overflow: hidden;
}

.gallery__item {
  height: 188px;
  margin: 19px 10px 0 10px;
}

/*---------------------------------main__about---------------------------------*/
.about__top {
  display: flex;
  flex-direction: column;
  height: 728px;

  background-color: #f2f2f2;
}

.about__bottom {
  height: 6px;

  background-color: #ffffff;
}

.team-member__column {
  margin: 0 10px;
}

.about__team {
  display: flex;
  margin: 45px 30px 0 30px;
}

.about__title {
  margin: 41px 40px 5px 40px;
}

.about__description {
  margin: 7px 40px 0 40px;

  line-height: 1.667;
}

.about__description > p:nth-child(1) {
  text-align-last: justify;
}

.team-member__column:nth-of-type(2) img {
  position: relative;
  right: 1px;
}

.team-member__name {
  margin-top: 15px;
}

.team-member__about {
  margin-top: 10px;
}

.team-member__social-link {
  display: flex;
  justify-content: space-around;
  margin-right: 140px;
}

.social-link_icon {
  margin: 24px 6px 0 0;
}

.social-link_icon:hover {
  transform: scale(1.15);
  cursor: pointer;
  filter: grayscale(100%) brightness(70%) contrast(5);
}

.team-member__column:nth-of-type(3) .team-member__social-link {
  margin-right: 141px;
}
