/*---------------------------------general---------------------------------*/
html {
  font-size: 12px;
}

h1,
h2,
h3 {
  font-size: inherit;
  /* margin: 0; */
}

p {
  margin: 0;
}

.content-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px;
}

/*---------------------------------main---------------------------------*/
.section-title {
  margin: 29px 0 15px 0;

  font-weight: 900;
  font-size: 2.5rem;
  line-height: 0.595;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #666d89;
  letter-spacing: -0.2px;
}

.section-description {
  margin: 28px 0 5px 0;

  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.667;
  font-family: "Lato", "Arial", sans-serif;
  color: #6c7491;
}

.column-title {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 0.992;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #666d89;
  letter-spacing: -0.15px;
}

.column-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.797;
  font-family: "Lato", "Arial Black", sans-serif;
  text-align: justify;
  color: #767e9e;
}

/*---------------------------------main__portfolio---------------------------------*/
h3 {
  padding: 0;
  margin: 0;
  letter-spacing: 0.02px;
}

.quote-section {
  background-color: #f06c64;
  height: 647px;
  border-bottom: 6px solid #ea676b;
}

.quote__title {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 43px;
  margin-bottom: 18px;
  letter-spacing: 0.02px;
  color: #f0d8d9;
}

.quote__description {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 28px;
  margin-bottom: 18px;

  color: #f0d8d9;
}

.quote__description span {
  display: block;
}

.quote__description span:nth-child(1) {
  text-align-last: justify;
}

.quote-container {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.quote__form {
  flex-basis: 65.9%;
  margin-top: 17px;
  height: 400px;

}

.quote__form form{
  display: flex;
  flex-direction: column;

  font-size: 12px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.797;
}

.quote__form input {
  padding: 0;
  margin: 8px 0;
  border-radius: 5px;
  background-color: rgb(214, 86, 79);
  padding-left: 14.5px;

  height: 38px;
  border-style: none;
  color: #ffffff;
}

.quote__form textarea {
  margin: 8px 0;
  border-radius: 5px;
  background-color: rgb(214, 86, 79);
  border-style: none;
  color: #ffffff;
  padding: 11px 0 0 14.5px;
  resize: none;
  height: 191px;
}

.submit-btn {
  margin-top: 8px;
  width: 175px;
  height: 35px;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f0d8d9;
  font-size: 1.3em;
  letter-spacing: 0.7px;
  color: rgb(214, 86, 79);
  font-weight: 700;
}

.submit-btn:hover {
  background-color: #ffffff;
  transform: scale(1.015);
  font-weight: 900;
}

.quote__contact-info {
  flex-basis: 32%;
  margin-top: 26px;
  height: 100px;
}

.contact-info__title {
  margin-left: 1px;
  color: #f0d8d9;
}

.contact-info__description {
  margin-left: 1px;
  margin-top: 11px;
  letter-spacing: -0.15px;

  line-height: 1.8;
  font-family: "Lato";
  color: #f0d8d9;
}

.quote__form form *:hover {
  border: 0.5px solid #f0d8d9;
}

.quote__form form *:focus {
  border: 2px solid #ffffff;
  outline: none;
}

.quote__form input::placeholder,
.quote__form textarea::placeholder {
  color: #f48c8f;
}

.contact-info__credentials {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 64px;
}

.contact-info__location,
.contact-info__phone,
.contact-info__email {
  display: flex;
}

.contact-info__icon-area {
  flex-basis: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info__icon-area img: {
  flex-basis: 15px;
}

.contact-info__email .contact-info__icon:last-of-type {
  position: relative;
  top: 2px;
}

.contact-info__text {
  margin-left: 9px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.797;
  font-family: "Lato", "Arial Black", sans-serif;
  text-align: justify;
  color: #f0d8d9;
}

.contact-info__text > a {
  color: #f0d8d9;
  text-decoration: none;
}

.contact-info__text > a:hover {
  color: white;
}

/*---------------------------------footer---------------------------------*/
footer {
  background-color: #2d303a;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  height: 76px;
  align-items: center;
  letter-spacing: 0.4px;
  color: #666d89;
}

.footer__social-links {
  display: flex;
  list-style-type: none;
}

.social-link_icon {
  margin-left: 8px;
  margin-top: 2px;
}

.footer .social-link_icon:hover {
  transform: scale(1.15);
  cursor: pointer;
  filter: invert(52%) sepia(49%) saturate(575%) hue-rotate(316deg) brightness(94%) contrast(101%);
}
