/*---------------------------------temp---------------------------------*/
html {
    font-size: 12px;
}
body {
    background-color: blue;
    max-width: 1020px;

    margin: 0 auto;
}
header {
    background-color: green;
}

main {
    background-color: yellow;
    /* height: 100px; */
}
/*----------------fonts--------------*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*---------------------------------header---------------------------------*/
h1,
h2 {
    font-size: inherit;
}

.color-red {
    color: #f06c64;
}

.header__top {
    font-family: 'lato';
    display: flex;
    justify-content: space-between;
    color: white;

    background-color: rgb(45, 48, 58);
    height: 89px;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 41px;
    letter-spacing: -0.7px;
    line-height: 25px;
    font-size: 25px;
}

.header-nav {
    position: relative;
    top: 45px;
    height: 10px;
    left: -40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
}

.header-nav__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-nav__link {
    text-decoration: none;

    letter-spacing: -0.2px;
    height: 10px;
    line-height: 10px;
    color: #ffffff;
}

.header-nav__link:hover {
    color: #f06c64;
}

.header-nav__decor {
    width: 30px;
    line-height: 6px;
    text-align: center;
    color: #494e62;
}

.header__bottom {
    height: 6px;
    background-color: #323746;
}

/*---------------------------------main_slider---------------------------------*/
.slider__top {
    display: flex;
    flex-wrap: wrap;
    background-color: #f06c64;
    height: 594px;
}

.slider__left-arrow{
    flex-basis: 10%;
}

.slider__left-img {
    flex-basis: 22%;
}
.slider__right-img{
    flex-basis: 58%;
}

.slider__right-arrow{
    flex-basis: 10%;
}

.slider__left-arrow .arrow-img {
    margin-top: 281px;
    margin-left: 42px;
}

.slider__right-arrow .arrow-img {
    margin-top: 281px;
    margin-left: 47px;
    transform: rotate(180deg);
}

.slider__left-img .img-container,
.slider__right-img .img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__left-img .first-img {
    border-radius: 27px;
    top: 53px;
    left: 10px;
    position: absolute;
    z-index: 1;
}

.slider__left-img .shadow-img {
    position: absolute;
    top: 53px;
    left: 10px;
}

.slider__right-img .second-img {
    top: 174px;
    right: 34px;
    border-radius: 27px;
    position: absolute;
    z-index: 1;
}

.slider__right-img .shadow-img {
    position: absolute;
    top: 53px;
    right: 130px;
    transform: scale(-1, 1) rotate(90deg);
}

.slider__bottom {
    height: 6px;
    background-color: #ea676b;
}