/*---------------------------------general---------------------------------*/
html {
  font-size: 12px;
}

body {
  box-sizing: border-box;

  color: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;

  font-size: inherit;
}

p {
  margin: 0;
}

.content-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

/*---------------------------------header---------------------------------*/
header {
  position: sticky;
  top: -1px;
  z-index: 5;

  height: 95px;
  max-height: 95px;

  background-color: rgb(45, 48, 58);
  border-bottom: 6px solid #323746;
}

header .content-wrapper {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  font-weight: 700;
  font-family: "Lato", "Arial Black", sans-serif;
  color: white;
}

.logo {
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo > span {
  color: #f06c64;
}

.header-nav {
  display: flex;
  margin-top: 25px;

  list-style-type: none;
}

#header__hamburger-toggle {
  position: absolute;

  visibility: hidden;
}

.header__hamburger-btn {
  position: absolute;

  display: none;
}

.header .hamburger-menu {
  position: absolute;

  display: none;
}

.header-nav__item {
  display: flex;
}

.header-nav > .header-nav__item + .header-nav__item::before {
  content: "";

  width: 3px;
  height: 3px;
  margin: 7px 13.5px;

  background-color: #ffffff;
  border-radius: 50%;
}

.header-nav__item > .nav-link {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: -0.2px;
}

.nav-link:hover,
.nav-link.active {
  color: #f06c64;
}

/*---------------------------------main-general---------------------------------*/
.section-title {
  margin-bottom: 27px;

  font-weight: 900;
  font-size: 2.5rem;
  line-height: 0.595;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #666d89;
}

h2 {
  letter-spacing: 0.2px;
}

.section-description {
  margin-bottom: 10px;

  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.667;
  font-family: "Lato", "Arial", sans-serif;
  color: #6c7491;
}

.column-title {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 0.992;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #666d89;
  letter-spacing: -0.15px;
}

.column-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.797;
  font-family: "Lato", "Arial Black", sans-serif;
  text-align: justify;
  color: #767e9e;
}

/*---------------------------------main__slider---------------------------------*/
.slider-section {
  height: 600px;
  padding: 53px 0 20px 0;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  border-bottom-width: 6px;
}

.slider-container {
  position: relative;

  display: flex;
}

.slider-list {
  position: relative;

  display: flex;
  overflow: hidden;
}


.slider-list__item {
  position: relative;

  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.first-slider {
  padding: 0 7.7%;
}

.second-slider {
  padding-right: 22.4%;
  padding-left: 22.7%;
}

.second-slider > img {
  max-width: 517px;
  max-height: 513px;

  object-fit: contain;
}

.slider__left-image {
  position: relative;
}

.slider__right-image {
  position: relative;

  margin-top: 15.4%;
  margin-left: 9.1%;
}

.phone-vertical {
  z-index: 0;

  max-width: 240px;
  max-height: 483px;

  object-fit: contain;
}

.phone-vertical-screensaver {
  position: absolute;
  top: 12.7%;
  left: 5.6%;
  z-index: 1;

  max-width: 78.3%;
}

.phone-vertical-btn {
  position: absolute;
  top: 79.3%;
  left: 35.6%;
  z-index: 1;

  max-width: 17.5%;
}

.phone-horizontal {
  z-index: 0;

  max-width: 483px;
  max-height: 240px;

  object-fit: contain;
}

.phone-horizontal-screensaver {
  position: absolute;
  top: 3.7%;
  left: 12.4%;
  z-index: 1;

  max-width: 68.9%;
}

.phone-horizontal-btn {
  position: absolute;
  top: 21.8%;
  left: 1.7%;
  z-index: 1;

  max-width: 8.9%;
}

.left-arrow {
  position: absolute;
  top: 44.5%;
  left: 0.2%;
}

.right-arrow {
  position: absolute;
  top: 44.5%;
  right: 0.05%;

  transform: scale(-1, 1);
}

.left-arrow:hover,
.right-arrow:hover {
  cursor: pointer;
  filter: grayscale(100%) brightness(70%) contrast(5);
}

/*---------------------------------main__our-services---------------------------------*/
.our-services-section {
  height: 500px;
  max-height: 1033px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.our-services-section .content-wrapper {
  padding-top: 69px;
}

.our-services {
  display: flex;
  flex-direction: column;
}

.our-services__description > p {
  letter-spacing: 0.15px;
}

.our-services__description span {
  letter-spacing: 0;
}

/*---------------------------------main__our-services__advantages---------------------------------*/
.our-services__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  padding-left: 1px;
}

.first-col {
  margin-left: -1px;
}

.second-col,
.third-col {
  margin-left: 19px;
}

.advantages__column__item {
  display: flex;
  width: 300px;
  height: 96px;
  margin-top: 10px;
  margin-bottom: 17px;
  overflow: hidden;
}

.col-item__icon {
  flex-basis: 20%;
  margin-top: 7px;
}

.col-item__body {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 19px;
}

.col-item__title {
  height: 18px;
  margin-top: 5px;

  font-weight: 900;
  font-size: 1.5rem;
  line-height: 18px;
  font-family: "Lato", "Arial Black", sans-serif;
  color: rgb(102, 109, 137);
  letter-spacing: -0.1px;
}

.col-item__description {
  margin-top: 10px;
  overflow: hidden;

  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  font-family: "Lato", "Arial Black", sans-serif;
  text-align: justify;
  color: rgb(118, 126, 158);
}

.third-col .col-item__title,
.third-col .col-item__description {
  margin-left: 3px;
}

/*---------------------------------main__portfolio---------------------------------*/
.portfolio-section {
  height: 869px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio-section .content-wrapper {
  padding-top: 69px;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio__description {
  margin-bottom: 0;
}

.portfolio-nav {
  display: flex;
  margin: 11px 0 0 2px;
  padding: 0;

  list-style-type: none;
}

.portfolio-nav__item {
  display: flex;
  margin-right: 10px;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #6c7491;
}

.portfolio-nav__link {
  padding: 0 6px;

  color: #6c7491;
  text-decoration: none;
  letter-spacing: -0.06px;

  border: 1px solid #6c7491;
  border-radius: 5px;
}

.portfolio-nav__link:hover,
.portfolio-nav__link.active {
  color: #ffffff;

  border: 1px solid #ffffff;
}

/*---------------------------------main__portfolio__gallery---------------------------------*/
.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 618px;
  margin-top: 20px;
  overflow: hidden;
}

.gallery__item {
  margin-bottom: 17px;
}

.gallery__item > img.active {
  outline: 5px solid #f06c64;
  outline-offset: -5px;
}

.gallery__item.item1 {
  order: 1;
}

.gallery__item.item2 {
  order: 2;
}

.gallery__item.item3 {
  order: 3;
}

.gallery__item.item4 {
  order: 4;
}

.gallery__item.item5 {
  order: 5;
}

.gallery__item.item6 {
  order: 6;
}

.gallery__item.item7 {
  order: 7;
}

.gallery__item.item8 {
  order: 8;
}

.gallery__item.item9 {
  order: 9;
}

.gallery__item.item10 {
  order: 10;
}

.gallery__item.item11 {
  order: 11;
}

.gallery__item.item12 {
  order: 12;
}

/*---------------------------------main__about-us---------------------------------*/
.about-us-section {
  height: 734px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us-section .content-wrapper {
  padding-top: 69px;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.team-member__column {
  width: 300px;
  margin: 0 10px;
}

.about-us__team {
  display: flex;
  justify-content: space-around;
  margin: 35px 0 0 0;
}

.about-us__description span {
  letter-spacing: 0.15px;
}

.team-member__name {
  margin-top: 15px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.team-member__about {
  margin-top: 10px;
}

.team-member__social-link {
  display: flex;
  justify-content: start;
}

.about-us .social-link_icon {
  margin: 24px 8px 0 0;
}

.about-us .social-link_icon:hover {
  transform: scale(1.15);
  cursor: pointer;
  filter: grayscale(100%) brightness(70%) contrast(5);
}

/*---------------------------------main__quote---------------------------------*/
.quote-section {
  height: 654px;

  font-weight: 400;
  font-family: "Lato", "Arial Black", sans-serif;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote-section .content-wrapper {
  padding-top: 69px;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote__title {
  color: #f0d8d9;
  letter-spacing: 0.02px;
}

.quote__description {
  color: #f0d8d9;
}

.quote__description p {
  letter-spacing: 0.15px;
}

.quote__description span {
  letter-spacing: 0;
}

/*---------------------------------main__quote__form---------------------------------*/
.quote-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 9px;
}

.quote__form {
  flex-basis: 65.9%;
  height: 400px;
  margin-top: 17px;
}

.quote__form form {
  display: flex;
  flex-direction: column;

  font-size: 1em;
  line-height: 1.797;
}

.quote__form input {
  box-sizing: border-box;
  height: 38px;
  margin: 8px 0;
  padding: 0;
  padding-left: 14.5px;

  color: #ffffff;

  background-color: #d6564f;
  border-style: none;
  border-radius: 5px;
}

.quote__form textarea {
  box-sizing: border-box;
  height: 202px;
  margin: 8px 0;
  padding: 11px 0 0 14.5px;

  color: #ffffff;

  background-color: #d6564f;
  border-style: none;
  border-radius: 5px;

  resize: none;
}

.submit-btn {
  width: 175px;
  height: 35px;
  margin-top: 8px;

  font-weight: 700;
  font-size: 1.3em;
  color: #f48c8f;
  letter-spacing: 0.7px;

  background-color: #f0d8d9;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  font-weight: 900;
  color: #d6564f;

  background-color: #ffffff;
  transform: scale(1.015);
}

.quote__form form *:hover {
  border: 0.5px solid #f0d8d9;
}

.quote__form form *:focus {
  border: 2px solid #ffffff;
  outline: none;
}

.quote__form input::placeholder,
.quote__form textarea::placeholder {
  color: #f48c8f;
}

.quote__form input:invalid:not(:focus):not(:placeholder-shown),
.quote__form textarea:invalid:not(:focus):not(:placeholder-shown) {
  color: rgb(180, 0, 0);

  border: 2px solid rgb(214, 0, 0);
  outline: none;
}

.quote__form input:invalid:focus,
.quote__form textarea:invalid:not(:focus):not(:placeholder-shown) {
  color: rgb(180, 0, 0);

  border: 2px solid rgb(214, 0, 0);
  outline: none;
}

.quote__form input:valid:not(:placeholder-shown),
.quote__form textarea:valid:not(:placeholder-shown) {
  border: 1px solid rgb(201, 255, 209);
  outline: none;
}

/*---------------------------------main__quote__contact-information---------------------------------*/
.quote__contact-info {
  flex-basis: 32%;
  min-width: 231px;
  height: 100%;
  margin-top: 26px;
}

.contact-info__title {
  margin-left: 1px;

  color: #f0d8d9;
}

.contact-info__title > h3 {
  margin: 0;

  letter-spacing: 0.02px;
}

.contact-info__description {
  margin-top: 11px;
  margin-left: 1px;

  line-height: 1.8;
  color: #f0d8d9;
  letter-spacing: -0.15px;
}

.contact-info__credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 64px;
  margin-top: 23px;
}

.contact-info__location,
.contact-info__phone,
.contact-info__email {
  display: flex;
}

.contact-info__icon-area {
  display: flex;
  flex-basis: 15px;
  justify-content: center;
  align-items: center;
}

.contact-info__email .contact-info__icon:last-of-type {
  position: relative;
  top: 2px;
}

.contact-info__text {
  margin-left: 9px;

  font-size: 1rem;
  line-height: 1.797;
  text-align: justify;
  color: #f0d8d9;
}

.contact-info__text > a {
  color: #f0d8d9;
  text-decoration: none;
}

.contact-info__text > a:hover {
  color: white;
}

/*---------------------------------footer---------------------------------*/
footer {
  background-color: #2d303a;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;

  font-weight: 900;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #666d89;
  letter-spacing: 0.4px;
}

.footer__social-links {
  display: flex;

  list-style-type: none;
}

.footer .social-link_icon {
  margin-top: 2px;
  margin-left: 8px;
}

.footer .social-link_icon:hover {
  transform: scale(1.15);
  cursor: pointer;
  filter: invert(52%) sepia(49%) saturate(575%) hue-rotate(316deg) brightness(94%) contrast(101%);
}

/*---------------------------------Message-PopUp---------------------------------*/
#message-block {
  position: fixed;
  top: 0;
  z-index: 9999;

  width: 100vw;
  height: 100vh;

  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1;
  font-family: "Lato", "Arial Black", sans-serif;
  color: #2d303a;

  background: rgba(0, 0, 0, 0.3);
}

#message-block.hidden {
  display: none;
}

#message-content {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 250px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 300px;
  padding: 0 10px;

  background-color: #f2f2f2;
  border: 2px solid  #000000;
  border-radius: 7px;
}

#close-btn {
  width: 40%;
  margin: 15px auto;

  font-weight: 900;
  color: #d6564f;

  border: 2px solid  #000000;
  border-radius: 7px;
  cursor: pointer;
}

#close-btn:hover {
  font-weight: 900;
  color: #ffffff;

  background-color: #d6564f;
  border: 2px solid  #000000;
  outline: none;
  transform: scale(1.015);
}

#message-title {
  margin: 15px auto;

  font-size: 2rem;
}

#message-subject {
  max-height: 3rem;
  margin-bottom: 10px;
  overflow: auto;
}

#message-description {
  max-height: 9rem;
  margin-bottom: 10px;
  overflow: auto;
}

@media screen and (max-width: 1019px) {
  /*---------------------------------general---------------------------------*/
  .our-services-section .content-wrapper {
    padding-top: 6.65%;
  }

  .about-us-section .content-wrapper {
    padding-top: 8%;
  }

  .portfolio-section .content-wrapper {
    padding-top: 9%;
  }

  .quote-section .content-wrapper {
    padding-top: 8.2%;
  }

  .header-nav {
    margin-top: 20px;
    margin-right: 2px;
  }

  /*---------------------------------slider---------------------------------*/
  .slider-section {
    height: 100%;
    padding: 5.27% 0 2.8% 0;

    border-bottom-width: calc(100vw * 4.52 / 768);
  }

  .slider-section > .content-wrapper {
    padding: 0 4%;
  }

  .second-slider > img {
    width: 100%;
  }

  .phone-horizontal,
  .phone-vertical {
    width: 100%;
  }

  .our-services-section {
    height: 100%;

    border: 0;
  }

  .our-services__advantages {
    margin-bottom: 27px;
  }

  .advantages__column__item {
    width: auto;
    min-width: 300px;
    max-width: 43%;
    margin: 0 5% 7% 0;
  }

  .portfolio-section {
    height: 100%;

    border-bottom-width: calc(100vw * 7.6 / 768);
  }

  .portfolio {
    margin-bottom: 6.8%;
  }

  .portfolio__description.section-description {
    margin-right: 10px;
  }

  .portfolio__gallery {
    max-height: 100%;
    margin-top: 4.4%;
    margin-right: -3px;
    margin-left: -1px;
  }

  .gallery__item {
    width: 31.2%;
    margin-right: 4px;
    margin-bottom: 2.4%;
  }

  .gallery__item > img {
    width: 100%;
  }

  .about-us-section {
    height: 100%;

    border: 0;
  }

  .about-us__team {
    justify-content: space-between;
    margin: 4.22% 0 10.5% 2px;
  }

  .team-member__column {
    width: 31.83%;
    margin: 0;
  }

  .team-member__about {
    min-height: 14%;
    margin-top: 1.8%;
  }

  .team-member__name {
    margin-top: 4.6%;
  }

  .about-us .social-link_icon {
    margin: 12px 8px 0 0;
  }

  .team-member__column img {
    max-width: 100%;
  }

  .quote-section {
    height: 100%;

    border-bottom-width: calc(100vw * 5.79 / 768);
  }

  .quote {
    margin-bottom: 1.4%;
  }

  .quote__form {
    flex-basis: 64.1%;
    margin-top: 0;
  }

  .quote__form form {
    height: 100%;
  }

  .quote__form input {
    margin: 6px 0;
    padding-left: 7px;
  }

  .quote__contact-info {
    flex-basis: 31.8%;
    margin-top: 7px;
    padding-left: 1.8%;
  }

  .contact-info__description {
    margin-top: 3px;
    margin-left: 1px;

    line-height: 1.9;
  }

  .contact-info__credentials {
    margin-top: 10px;
  }


  .quote__form textarea {
    height: 39.8%;
    margin: 6px 0;
    padding: 8px 0 0 7px;
  }
}

@media screen and (max-width: 767px) {
  /*general*/
  .our-services-section .content-wrapper {
    padding: 8.5% 8.875% 0 6.3%;
  }

  .about-us-section .content-wrapper {
    padding: 11.5% 8% 0 7.8%;
  }

  .quote-section .content-wrapper {
    padding: 14% 8.1% 0 8.3%;
  }

  .portfolio-section .content-wrapper {
    padding: 14% 8.875% 0 8.3%;
  }


  header {
    height: calc(100vw * 0.19);

    border-width: 0;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__nav {
    display: none;
  }

  .header__hamburger-btn {
    position: absolute;
    top: calc(100vw * 0.068);
    left: 5.4%;

    display: block;
  }

  #header__hamburger-toggle:checked ~ .hamburger-menu {
    top: 0;
  }

  #header__hamburger-toggle:checked ~ .header__hamburger-btn {
    position: fixed;
    z-index: 3;

    transform: rotate(90deg);
  }

  .header .hamburger-menu {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 2;

    display: block;
    width: 100vw;
    height: 100%;
    padding-top: calc(100vw * 0.064);
    padding-left: 71px;

    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    font-family: "Lato", "Arial Black", sans-serif;

    background: linear-gradient(to right, rgb(45, 48, 58) 74.1%, rgba(0, 0, 0, 0.3) 25.9%);
  }

  .header .hamburger-menu__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 207px;
  }

  .logo {
    font-size: 1.64rem;
  }

  .hamburger-menu__logo {
    display: flex;
  }

  .hamburger-nav {
    display: flex;
    flex-direction: column;
    margin-top: 186px;
    padding-left: 0;

    list-style-type: none;
  }

  .hamburger-nav__item {
    margin-bottom: 33px;

    font-size: 2rem;
  }

  .hamburger-nav__item > .nav-link {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: -1px;
  }

  .nav-link:hover,
  .nav-link.active {
    color: #f06c64;
  }

  .left-arrow {
    top: 41%;
    left: -2%;
  }

  .right-arrow {
    top: 41%;
    right: -2%;
  }

  .portfolio-section {
    height: 100%;
  }

  .portfolio {
    margin-bottom: 0;
  }

  .portfolio-nav {
    margin: 15px 0 0 0;
  }

  .portfolio-nav__item {
    margin-right: 3.3%;
  }

  .portfolio__gallery {
    height: calc(100vw * 1.48);
    margin-top: 8.5%;
    margin-bottom: 13%;
  }

  .gallery__item {
    width: 48%;
    margin-right: 0;
    margin-bottom: 3.4%;
  }

  .advantages__column__item {
    width: 100%;
    min-width: 80%;
    max-width: 100%;
    margin: 0 5% 7.5% 0;
  }

  .col-item__icon {
    flex-basis: 10%;
  }

  .about-us-section {
    height: 100%;
  }

  .about-us__team {
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    max-width: 314px;
    margin: 4.22% 0 3.4% 2px;
  }

  .team-member__name {
    margin-top: 5.5%;
  }

  .team-member__about {
    margin-top: 1%;
  }

  .team-member__column {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
  }

  .our-services__advantages {
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 1.5%;
  }

  .team-member__column img {
    width: 100%;
  }

  .quote {
    margin-bottom: 0;
  }

  .quote-form-container {
    margin-bottom: 13.4%;
  }

  .quote__form,
  .quote__contact-info {
    flex-grow: 1;
    padding-left: 0;
  }

  .submit-btn {
    width: 100%;
    height: 50px;
  }

  .contact-info__title {
    margin-top: 1.4%;
    margin-left: 0;
  }

  .contact-info__description {
    margin-left: 0;
  }

  .contact-info__credentials {
    margin-top: 5.6%;
  }

  .contact-info__credentials > div {
    margin-bottom: 1.4%;
  }

  .footer_copyright {
    display: none;
  }

  .footer__social-links {
    width: 152px;
    margin: 0 auto;
    padding: 0;
  }

  .footer .social-link_icon {
    margin: 0 8px 0 0;
  }

  #message-content {
    position: absolute;
    top: calc(100vh*0.25);
    left: calc(100vw - 85%);

    width: calc(100vw - 30%);
    height: calc(100vh*0.5);
  }
}

@media screen and (max-width: 375px) {
  header,
  .portfolio-section,
  .quote-section {
    border-width: 0;
  }

  .header__logo {
    margin-left: 36.6%;
  }

  .slider-section {
    border-bottom-width: calc(100vw * 2.21 / 375);
  }

  #message-content {
    left: calc(100vw - 95%);

    width: calc(100vw - 10%);
  }
}

@media screen and (max-width: 374px) {
  .portfolio-nav {
    justify-content: space-between;
  }

  .portfolio-nav__item {
    margin: 0;
  }
}
